body {
background-color: hsl(30, 38%, 92%);
font-family: 'Fraunces', serif;
min-height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.card {
    border-radius: 10px;
    display: flex;
    max-width: 666px;
    margin: 0 1rem;
    background-color: hsl(0, 0%, 100%);
}
.img-container {
    width: 50%;
}
.img-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    
}
.details-container {
    width: 50%;
    padding: 2rem;
}
.details-container title {
    color: hsl(212, 21%, 14%);
    padding-right: 2rem;
    margin-bottom: 1.75rem;

}
.details-container .content {
    font-family: 'montserrat',sans-serif;
    font-size: 14px;
    color: hsl(228, 12%, 48%);
    line-height: 22px;
    margin-bottom: 1.75rem;
}
.montserrat {
    font-family: 'montserrat',sans-serif;
    letter-spacing: 3px;
    font-size: 14px;
    color: hsl(228, 12%, 48%);
    margin-bottom: 1.75rem;
}
.price-container {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 1.75rem;

}
.price-container .current-price {
  color: hsl(158, 36%, 37%);
}
.price-container .original-price {
    font-family: 'montserrat',sans-serif;
    color: hsl(228, 12%, 48%);
    text-decoration: line-through;

}
.details-container .btn {
    width: 100%;
    border: 0;
    outline: 0;
    background-color: hsl(158, 36%, 37%);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-family: 'montserrat',sans-serif;
    padding: 1rem 2rem;
    border-radius: 10px;
    cursor: pointer;
}
.details-container .btn:hover  {
    background-color: hsl(212, 21%, 14%);
}
@media only screen and (max-width: 550px) {
    .card{
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .img-container {
        width: 100%;
        height: 40%;
    }
    .img-container img {
        content: url("/images/image-product-mobile.jpg");
    }
    .card {
        flex-direction: column;
    }
    .details-container {
        width: 100%;
    }
    .details-container .title {
        padding-right: 0;
    }
    .img-container img {
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 0px;
    }
}